{{#each this}}

    <h2 class="country"><img src="{{flag}}" alt="flag of {{name}}" class="image" height=30>{{name}}</h2>
    <p class="country-info"><span class="description">Capital:</span> {{capital}}</p>
    <p class="country-info"><span class="description">Population:</span> {{population}}</p>
    <p class="country-info"><span class="description">Languages:</span> </p>

    <ul class="languages-list">
        {{#each languages}}
        <li class="language-item">{{name}}</li>
        {{/each}}
    </ul>

{{/each}}